* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: cf;
}

.banner {
  background-color: rgb(23, 135, 220);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
@media (max-width: 767px) {
  .banner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgb(23, 135, 220);
    justify-items: center;
    width: 100%;
    gap: 0%;
    height: 50%;
  }
}
@media (max-width: 767px) {
  .banner__imgtitulo {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .banner__imgtitulo {
    display: none;
  }
}
.banner__imagen {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 1rem;
}
@media (max-width: 767px) {
  .banner__imagen {
    width: 100%;
    height: 30vh;
    border-radius: 0%;
    padding: 0%;
    grid-column: span 2;
  }
}
.banner__menu {
  display: flex;
  gap: 1rem;
  padding: 0px 20px;
  list-style: none;
  /* display: inline-block; */
  width: 100%;
}
@media (max-width: 767px) {
  .banner__menu {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    padding: 1rem;
    width: 100%;
    grid-column: span 1;
  }
}
.banner__link {
  color: white;
  text-decoration: none;
}
.banner__link:hover {
  border-bottom: 3px solid white;
}

/* ---- Comienzo portada */
.portada {
  width: 100%;
  height: 600px;
  background-size: 100% 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../image/portadanew.jpg");
}
.portada__imagen {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}
.portada__info {
  z-index: 1;
  width: 100%;
  max-width: 700px;
  text-align: center;
}
.portada__nombre {
  color: #fff;
  text-shadow: 5px 5px 2px black;
  font-size: 50px;
  /* text-align: center; */
  margin-bottom: 5px;
  letter-spacing: 1px;
}
@media (max-width: 767px) {
  .portada__nombre {
    font-size: 50px;
  }
}
.portada__titulo {
  color: #c7c7c7;
  font-size: 35px;
  /* text-align: center; */
  line-height: 1.7;
  margin-bottom: 30px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .portada__titulo {
    justify-content: center;
    text-align: center;
    width: 100%;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .portada__titulo {
    font-size: 65px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 1rem;
    font-size: 40px;
  }
}
.portada__boton {
  color: #fff;
  text-decoration: none;
  background: #3088e0;
  padding: 10px 30px;
  display: inline-block;
  border-radius: 50px;
}

.footer {
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.footer-contenedor {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  padding: 10px;
  align-items: start;
  justify-content: space-between;
  width: 100%;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .footer-contenedor {
    display: flex;
    flex-direction: row;
  }
}
@media (max-width: 767px) {
  .footer-contenedor {
    display: flex;
    flex-direction: column;
    gap: 0%;
    margin: 0%;
    padding: 0%;
    align-items: center;
  }
}
.footer-contenedor__logo {
  width: 300px;
  height: 150px;
  border-radius: 5%;
}
@media (max-width: 767px) {
  .footer-contenedor__logo {
    width: 100%;
    border-radius: 0%;
  }
}
@media (max-width: 767px) {
  .footer-contenedor__menu {
    padding: 1rem;
  }
}
.footer-contenedor__lista {
  list-style: none;
  border-style: solid;
  border-color: black;
  color: cf-footer;
  text-decoration: none;
}
@media (max-width: 767px) {
  .footer-contenedor__lista {
    width: 100%;
    border-style: none;
    list-style: circle;
    text-decoration: none;
    color: cf-footer;
  }
}
.footer-contenedor__link {
  color: black;
  text-decoration: none;
}
@media (max-width: 767px) {
  .footer-contenedor__link {
    width: 100%;
    text-decoration: none;
    color: black;
  }
}
.footer-contenedor__suscrip {
  display: flex;
  flex-direction: row;
  color: cf-footer;
  gap: 1rem;
  align-items: start;
  justify-content: space-between;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .footer-contenedor__suscrip {
    display: flex;
    flex-direction: column;
    align-items: normal;
  }
}
@media (max-width: 767px) {
  .footer-contenedor__suscrip {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
}
.footer-contenedor__etiqueta {
  width: 100%;
}
.footer-contenedor__email {
  color: grey;
  width: 100%;
}
.footer-contenedor__boton {
  background-color: #fbeee0;
  border: 1px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  display: inline-block;
  font-weight: 600;
  font-size: 15px;
  padding: 0 10px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}
.footer-contenedor__boton:hover {
  background-color: #fff;
}
.footer-contenedor__boton:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

.contenedor-redes {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  color: cf-footer;
  gap: 1rem;
  padding: 0.5rem;
  width: 100%;
}
@media (max-width: 767px) {
  .contenedor-redes {
    display: grid;
    flex-direction: column;
  }
}
.contenedor-redes__img {
  display: flex;
  flex-direction: row;
}
@media (max-width: 767px) {
  .contenedor-redes__img {
    display: flex;
    flex-direction: row;
  }
}
.contenedor-redes__imagen {
  width: 40px;
  height: 40px;
}

.card-carousel {
  width: 95%;
  height: auto;
  margin: 10px auto;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.carousel {
  width: 100%;
  height: 400px;
  position: relative;
}

.carousel-contenedor {
  width: 100%;
  height: 100%;
  display: flex;
  animation: slide ease-in-out 40s infinite alternate;
}

.carousel-contenedor__item {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}

.carousel-contenedor__item-img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(0%);
  }
}
.ofertas {
  margin-top: 1rem;
  padding: 1rem;
  width: 100%;
  height: 100%;
}
.ofertas__titulo {
  color: #060606;
  text-align: left;
  font-family: IBM Plex Sans, elvetica;
  padding: 1rem;
}

.ofertas-contenedor {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem;
  gap: 2rem;
  /* flex-grow: 1; */
  background-color: white;
  width: 100%;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .ofertas-contenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1.5rem;
    /* flex-grow: 1; */
    background-color: white;
    width: 100%;
    gap: 2rem;
  }
}
@media (max-width: 767px) {
  .ofertas-contenedor {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
}
.ofertas-contenedor__card {
  box-shadow: 0 4px 8px 0 grey, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 2%;
  flex-grow: 1;
  border-radius: 2%;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .ofertas-contenedor__card {
    padding: 10%;
  }
}
@media (max-width: 767px) {
  .ofertas-contenedor__card {
    padding: 5%;
  }
}
.ofertas-contenedor__imagen {
  width: 100%;
  height: 100%;
  position: relative;
}
.ofertas-contenedor__imagen-img {
  width: 100%;
  height: 100%;
}
.ofertas-contenedor__imagen-text {
  position: absolute;
  color: white;
  background-color: red;
  padding: 5px;
  top: 1px;
  left: 1px;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
.ofertas-contenedor__imagen:hover {
  border: 5px solid red;
  transform: rotate(2deg);
}
.ofertas-contenedor__descripcion {
  display: flex;
  text-align: center;
  /* padding: 10px; */
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.ofertas-contenedor__boton {
  margin-top: 5%;
  width: 100%;
  background: red;
  border: none;
  padding: 12px;
  color: white;
  font-size: 16px;
  font-weight: bolder;
  border-radius: 25px;
}
.ofertas-contenedor__marca {
  font-weight: bold;
}
.ofertas-contenedor__desc {
  color: grey;
}
.ofertas-contenedor__precio {
  color: red;
  font-size: 1.2em;
  font-weight: bold;
}

.vendidos {
  width: 100%;
  padding: 1rem;
}
.vendidos__titulo {
  color: #060606;
  text-align: left;
  padding: 1rem;
  font-family: IBM Plex Sans, elvetica;
}

.vendidos-contenedor {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem;
  gap: 2rem;
  width: 100%;
  background-color: white;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .vendidos-contenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1.5rem;
    /* flex-grow: 1; */
    background-color: white;
    width: 100%;
    gap: 2rem;
  }
}
@media (max-width: 767px) {
  .vendidos-contenedor {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
}
.vendidos-contenedor__card {
  /* margin: 5px 10px; */
  box-shadow: 0 4px 8px 0 grey, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 2%;
  flex-grow: 1;
  border-radius: 2%;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .vendidos-contenedor__card {
    padding: 10%;
  }
}
@media (max-width: 767px) {
  .vendidos-contenedor__card {
    padding: 5%;
  }
}
.vendidos-contenedor__imagen {
  width: 100%;
  height: 100%;
  position: relative;
}
.vendidos-contenedor__imagen-img {
  width: 100%;
  height: 100%;
}
.vendidos-contenedor__imagen-text {
  position: absolute;
  color: white;
  background-color: green;
  padding: 5px;
  top: 1px;
  left: 1px;
}
.vendidos-contenedor__imagen:hover {
  border: 5px solid green;
  transform: rotate(-2deg);
}
.vendidos-contenedor__descripcion {
  display: flex;
  text-align: center;
  /* padding: 10px; */
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.vendidos-contenedor__boton {
  width: 100%;
  margin-top: 5%;
  background: green;
  border: none;
  padding: 12px;
  color: white;
  font-size: 16px;
  border-radius: 25px;
  font-weight: bolder;
}
.vendidos-contenedor__marca {
  font-weight: bold;
}
.vendidos-contenedor__desc {
  color: grey;
}
.vendidos-contenedor__precio {
  color: red;
  font-size: 1.2em;
  font-weight: bold;
}

.productos {
  width: 100%;
  padding: 1rem;
}
.productos__titulo {
  color: #060606;
  text-align: left;
  padding: 1rem;
  font-family: IBM Plex Sans, elvetica;
}

.contenedor-productos {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  /* align-content: stretch; */
  justify-content: space-around;
  gap: 2rem;
  padding: 1rem;
  background-color: white;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .contenedor-productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    background-color: white;
    width: 100%;
    padding: 1rem;
  }
}
@media (max-width: 767px) {
  .contenedor-productos {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
}
.contenedor-productos__card {
  box-shadow: 0 4px 8px 0 grey, 0 6px 20px 0 rgba(35, 12, 99, 0.19);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  flex-grow: 1;
  padding: 5%;
  border-radius: 2%;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .contenedor-productos__card {
    padding: 5%;
  }
}
@media (max-width: 767px) {
  .contenedor-productos__card {
    padding: 5%;
  }
}
.contenedor-productos__imagen {
  width: 100%;
  height: 100%;
  position: relative;
}
.contenedor-productos__imagen-img {
  width: 100%;
  height: 100%;
}
.contenedor-productos__imagen-text {
  position: absolute;
  color: white;
  background-color: #3cdcff;
  padding: 5px;
  top: 1px;
  left: 1px;
}
.contenedor-productos__imagen:hover {
  border: 3px solid #3cdcff;
  transform: scale(1.05);
}
.contenedor-productos__descripcion {
  display: flex;
  text-align: left;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.contenedor-productos__boton {
  width: 100%;
  margin-top: 5%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  font-size: 16px;
  font-weight: bolder;
  border-radius: 25px;
}
.contenedor-productos__marca {
  font-weight: bold;
}
.contenedor-productos__desc {
  color: grey;
}
.contenedor-productos__precio {
  color: red;
  font-size: 1.2em;
  font-weight: bold;
}

.marcasdes {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  width: 100%;
  gap: 1rem;
  padding: 1rem;
}

.marcasdes-contenedor {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
  height: auto;
  background-color: rgb(247, 244, 244);
  margin-bottom: 1rem;
  padding: 1rem;
}
.marcasdes-contenedor .marcasdes__titulo {
  padding: 1rem;
  text-align: left;
  color: #060606;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .marcasdes-contenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 100%;
    padding: none;
    gap: none;
    margin-bottom: 1rem;
  }
}
@media (max-width: 767px) {
  .marcasdes-contenedor {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-bottom: 1rem;
  }
}
.marcasdes-contenedor__imagen {
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
}
@media (max-width: 767px) {
  .marcasdes-contenedor__imagen {
    width: 100%;
    height: 100%;
    align-content: center;
    margin-bottom: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .marcasdes-contenedor__imagen {
    grid-column: span 2;
    width: 100%;
    height: 100%;
    padding: none;
    margin-bottom: 1rem;
  }
}

.home-titulo {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: xx-large;
  color: #060606;
}

.ofertas {
  margin-top: 1rem;
  padding: 1rem;
  width: 100%;
  height: 100%;
}
.ofertas__titulo {
  color: #060606;
  text-align: left;
  font-family: IBM Plex Sans, elvetica;
  padding: 1rem;
}

.ofertas-contenedor {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem;
  gap: 2rem;
  /* flex-grow: 1; */
  background-color: white;
  width: 100%;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .ofertas-contenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1.5rem;
    /* flex-grow: 1; */
    background-color: white;
    width: 100%;
    gap: 2rem;
  }
}
@media (max-width: 767px) {
  .ofertas-contenedor {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
}
.ofertas-contenedor__card {
  box-shadow: 0 4px 8px 0 grey, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 2%;
  flex-grow: 1;
  border-radius: 2%;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .ofertas-contenedor__card {
    padding: 10%;
  }
}
@media (max-width: 767px) {
  .ofertas-contenedor__card {
    padding: 5%;
  }
}
.ofertas-contenedor__imagen {
  width: 100%;
  height: 100%;
  position: relative;
}
.ofertas-contenedor__imagen-img {
  width: 100%;
  height: 100%;
}
.ofertas-contenedor__imagen-text {
  position: absolute;
  color: white;
  background-color: red;
  padding: 5px;
  top: 1px;
  left: 1px;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
.ofertas-contenedor__imagen:hover {
  border: 5px solid red;
  transform: rotate(2deg);
}
.ofertas-contenedor__descripcion {
  display: flex;
  text-align: center;
  /* padding: 10px; */
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.ofertas-contenedor__boton {
  margin-top: 5%;
  width: 100%;
  background: red;
  border: none;
  padding: 12px;
  color: white;
  font-size: 16px;
  font-weight: bolder;
  border-radius: 25px;
}
.ofertas-contenedor__marca {
  font-weight: bold;
}
.ofertas-contenedor__desc {
  color: grey;
}
.ofertas-contenedor__precio {
  color: red;
  font-size: 1.2em;
  font-weight: bold;
}

.vendidos {
  width: 100%;
  padding: 1rem;
}
.vendidos__titulo {
  color: #060606;
  text-align: left;
  padding: 1rem;
  font-family: IBM Plex Sans, elvetica;
}

.vendidos-contenedor {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem;
  gap: 2rem;
  width: 100%;
  background-color: white;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .vendidos-contenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1.5rem;
    /* flex-grow: 1; */
    background-color: white;
    width: 100%;
    gap: 2rem;
  }
}
@media (max-width: 767px) {
  .vendidos-contenedor {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
}
.vendidos-contenedor__card {
  /* margin: 5px 10px; */
  box-shadow: 0 4px 8px 0 grey, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 2%;
  flex-grow: 1;
  border-radius: 2%;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .vendidos-contenedor__card {
    padding: 10%;
  }
}
@media (max-width: 767px) {
  .vendidos-contenedor__card {
    padding: 5%;
  }
}
.vendidos-contenedor__imagen {
  width: 100%;
  height: 100%;
  position: relative;
}
.vendidos-contenedor__imagen-img {
  width: 100%;
  height: 100%;
}
.vendidos-contenedor__imagen-text {
  position: absolute;
  color: white;
  background-color: green;
  padding: 5px;
  top: 1px;
  left: 1px;
}
.vendidos-contenedor__imagen:hover {
  border: 5px solid green;
  transform: rotate(-2deg);
}
.vendidos-contenedor__descripcion {
  display: flex;
  text-align: center;
  /* padding: 10px; */
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.vendidos-contenedor__boton {
  width: 100%;
  margin-top: 5%;
  background: green;
  border: none;
  padding: 12px;
  color: white;
  font-size: 16px;
  border-radius: 25px;
  font-weight: bolder;
}
.vendidos-contenedor__marca {
  font-weight: bold;
}
.vendidos-contenedor__desc {
  color: grey;
}
.vendidos-contenedor__precio {
  color: red;
  font-size: 1.2em;
  font-weight: bold;
}

.productos {
  width: 100%;
  padding: 1rem;
}
.productos__titulo {
  color: #060606;
  text-align: left;
  padding: 1rem;
  font-family: IBM Plex Sans, elvetica;
}

.contenedor-productos {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  /* align-content: stretch; */
  justify-content: space-around;
  gap: 2rem;
  padding: 1rem;
  background-color: white;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .contenedor-productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    background-color: white;
    width: 100%;
    padding: 1rem;
  }
}
@media (max-width: 767px) {
  .contenedor-productos {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
}
.contenedor-productos__card {
  box-shadow: 0 4px 8px 0 grey, 0 6px 20px 0 rgba(35, 12, 99, 0.19);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  flex-grow: 1;
  padding: 5%;
  border-radius: 2%;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .contenedor-productos__card {
    padding: 5%;
  }
}
@media (max-width: 767px) {
  .contenedor-productos__card {
    padding: 5%;
  }
}
.contenedor-productos__imagen {
  width: 100%;
  height: 100%;
  position: relative;
}
.contenedor-productos__imagen-img {
  width: 100%;
  height: 100%;
}
.contenedor-productos__imagen-text {
  position: absolute;
  color: white;
  background-color: #3cdcff;
  padding: 5px;
  top: 1px;
  left: 1px;
}
.contenedor-productos__imagen:hover {
  border: 3px solid #3cdcff;
  transform: scale(1.05);
}
.contenedor-productos__descripcion {
  display: flex;
  text-align: left;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.contenedor-productos__boton {
  width: 100%;
  margin-top: 5%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  font-size: 16px;
  font-weight: bolder;
  border-radius: 25px;
}
.contenedor-productos__marca {
  font-weight: bold;
}
.contenedor-productos__desc {
  color: grey;
}
.contenedor-productos__precio {
  color: red;
  font-size: 1.2em;
  font-weight: bold;
}

.productos-titulo {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: xx-large;
  color: rgb(16, 16, 16);
}

.marcas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .marcas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767px) {
  .marcas {
    display: flex;
    flex-direction: column;
  }
}

.marcas-titulo {
  padding: 1rem;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #060606;
}

.marcas-contenedor {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  padding: 1rem;
  gap: 1rem;
  width: 100%;
  height: 100%;
  padding: 1rem;
  background-color: rgb(247, 244, 244);
  margin-bottom: 1rem;
  border-radius: 5%;
}
.marcas-contenedor__imagen {
  grid-column: span 1;
  width: 100%;
  height: 100%;
  padding: 1rem;
  border-radius: 50%;
}
@media (max-width: 767px) {
  .marcas-contenedor__imagen {
    grid-column: span 1;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .marcas-contenedor__imagen {
    grid-column: span 1;
  }
}
.marcas-contenedor__imagen:hover {
  border: 3px solid black;
  transform: scale(1.05);
  padding: 1rem;
}
@media (max-width: 767px) {
  .marcas-contenedor__imagen:hover {
    grid-column: span 1;
    transform: rotate(5deg);
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .marcas-contenedor__imagen:hover {
    grid-column: span 1;
  }
}
.marcas-contenedor__descripcion {
  height: auto;
  grid-column: span 1;
  align-content: center;
  overflow: hidden;
}
@media (max-width: 767px) {
  .marcas-contenedor__descripcion {
    grid-column: span 1;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .marcas-contenedor__descripcion {
    grid-column: span 1;
  }
}
.marcas-contenedor mark {
  background-color: rgb(247, 244, 244);
  color: black;
  font-weight: bold;
}

.nosotros {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
}
.nosotros__titulo {
  padding: 1rem;
}

.nosotros-titulo {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #060606;
}

.nosotros-contenedor {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem;
  gap: 1rem;
  width: 100%;
  height: 100%;
  padding: 1rem;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .nosotros-contenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767px) {
  .nosotros-contenedor {
    display: flex;
    flex-direction: column;
  }
}
.nosotros-contenedor__imagen {
  grid-column: span 1;
  width: 100%;
  height: 100%;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .nosotros-contenedor__imagen {
    grid-column: span 1;
  }
}
.nosotros-contenedor__descripcion {
  height: 100%;
  grid-column: span 2;
  align-content: center;
  overflow: hidden;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .nosotros-contenedor__descripcion {
    grid-column: span 1;
  }
}

/*--- seccion mision --- */
.mision {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.mision__titulo {
  padding: 1rem;
}

.mision-contenedor {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 1rem;
  gap: 1rem;
  width: 100%;
  height: 100%;
  padding: 1rem;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .mision-contenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767px) {
  .mision-contenedor {
    display: flex;
    flex-direction: column;
  }
}
.mision-contenedor__imagen {
  grid-column: span 1;
  grid-row: span 2;
  width: 100%;
  height: 50vh;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .mision-contenedor__imagen {
    grid-column: span 1;
  }
}
.mision-contenedor__descripcion {
  height: 100%;
  grid-column: span 2;
  grid-row: span 2;
  align-content: center;
  overflow: hidden;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .mision-contenedor__descripcion {
    grid-column: span 1;
  }
}

/* --- seccion vision --- */
.vision {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.vision__titulo {
  padding: 1rem;
}

.vision-contenedor {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem;
  gap: 1rem;
  width: 100%;
  height: 100%;
  padding: 1rem;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .vision-contenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767px) {
  .vision-contenedor {
    display: flex;
    flex-direction: column;
  }
}
.vision-contenedor__imagen {
  grid-column: span 1;
  width: 100%;
  height: 50vh;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .vision-contenedor__imagen {
    grid-column: span 1;
  }
}
.vision-contenedor__descripcion {
  height: 100%;
  grid-column: span 2;
  align-content: center;
  overflow: hidden;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .vision-contenedor__descripcion {
    grid-column: span 1;
  }
}

.formulario {
  width: 500px;
  background: #888c90;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  border-radius: 4px;
  color: white;
  box-shadow: 7px 13px 37px #000;
}
@media (max-width: 767px) {
  .formulario {
    width: 90%;
    border: 30px;
  }
}
.formulario__boton {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}

.titulo {
  margin-top: 50px;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  background: linear-gradient(90deg, rgb(138, 114, 114), #1106ee);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.formulario-nombre__caja {
  width: 100%;
}

.formulario-correo__caja {
  width: 100%;
}

.formulario-mensaje__area {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
