.marcas {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: space-between;
	width: 100%;
	gap: 1rem;
	margin-top: 1rem;
	margin-bottom: 3rem;

	@include MQ-tablet {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		;
	}

	@include MQ-mobile {
		display: flex;
		flex-direction: column;
	}
}

.marcas-titulo {
	padding: 1rem;
	text-align: center;
	font-family: $fft;
	color: $ct;
}

.marcas-contenedor {
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	padding: 1rem;
	gap: 1rem;
	width: 100%;
	height:100%;
	padding: 1rem;
	background-color: rgb(247, 244, 244);
	margin-bottom: 1rem;
	border-radius: 5%;


	&__imagen {
		grid-column: span 1;
		width: 100%;
		height: 100%;
		padding: 1rem;
		border-radius: 50%;

		@include MQ-mobile {
			grid-column: span 1;
		}

		@include MQ-tablet {
			grid-column: span 1;
		}

	}

	&__imagen:hover {
		border: 3px solid black;
		//transform: rotate(5deg);
		transform: scale(1.05);
		// border-radius: 40%;
		padding: 1rem;

		@include MQ-mobile {
			grid-column: span 1;
			transform: rotate(5deg);
		}

		@include MQ-tablet {
			grid-column: span 1;
		}
	}

	&__descripcion {
		height: auto;
		grid-column: span 1;
		align-content: center;
		overflow: hidden;

		@include MQ-mobile {
			grid-column: span 1;
			padding-left: 0.5rem;
			padding-right: 0.5rem;
		}

		@include MQ-tablet {
			grid-column: span 1;
		}

	}

	mark {
		background-color: rgb(247, 244, 244);
		color: black;
		font-weight: bold;
	}
}