.productos {
	width: 100%;
	padding: 1rem;
}

.productos__titulo {
	color: black;
	text-align: center;
	padding: 1rem;
}

.contenedor-productos {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(4, 1fr);
	/* align-content: stretch; */
	justify-content: space-around;
	gap: 1rem;
	/* padding: 0.5rem; */
}

.contenedor-productos__card {
	box-shadow: 0 4px 8px 0 grey, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	justify-content: space-between;
	width: 100%;
	padding-top: 10%;
	padding-left: 10%;
	padding-right: 10%;
}

.contenedor-productos__imagen {
	width: 100%;
	height: auto;
}

.contenedor-productos__imagen:hover {
	border: 3px solid black;
	transform: scale(1.05);
}

.contenedor-productos__descripcion {
	text-align: center;
	text-shadow: 1px 1px 1px rgb(75, 73, 73);
	padding-top: 1rem;
	padding-bottom: 1rem;
	width: 100%;
}