.productos {
	width: 100%;
	padding: 1rem;

	&__titulo {
		color: black;
		text-align: center;
		padding: 1rem;
		font-family: $ff;
	}
}

.contenedor-productos {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(4, 1fr);
	/* align-content: stretch; */
	justify-content: space-around;
	gap: 2rem;
	padding: 1rem;
	background-color: white;

	@include MQ-tablet {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 2rem;
		background-color: white;
		width: 100%;
		padding: 1rem;
	}

	@include MQ-mobile {
		display: flex;
		flex-direction: column;
		padding: 1rem;
	}

	&__card {
		box-shadow: 0 4px 8px 0 grey, 0 6px 20px 0 rgba(35, 12, 99, 0.19);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 100%;
		flex-grow: 1;
		padding: 5%;
		border-radius: 2%;

		@include MQ-tablet {
			padding: 5%;
		}

		@include MQ-mobile {
			padding: 5%;
		}
	}

	&__imagen {
		width: 100%;
		height: 100%;
		position: relative;
	}

	&__imagen-img {
		width: 100%;
		height: 100%;

	}

	&__imagen-text {
		position: absolute;
		color: white;
		background-color: #3cdcff;
		padding: 5px;
		top: 1px;
		left: 1px;
	}

	&__imagen:hover {
		border: 3px solid #3cdcff;
		transform: scale(1.05);
	}

	&__descripcion {
		display: flex;
		text-align: center;
		// text-shadow: 1px 1px 1px rgb(75, 73, 73);
		padding-top: 1rem;
		padding-bottom: 1rem;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

	&__boton {
		width: 100%;
		background: #1f53c5;
		border: none;
		padding: 12px;
		color: white;
		// margin: 16px 0;
		font-size: 16px;
		border-radius: 25px;
	}
}