.vendidos {
	width: 100%;
	padding: 1rem;
	background-color: rgb(242, 247, 245);

	&__titulo {
		color: green;
		text-align: center;
		padding: 1rem;
		font-family: $ff;
	}
}

.vendidos-contenedor {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 1rem;
	gap: 2rem;
	width: 100%;
	background-color: white;

	@include MQ-tablet {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		// justify-content: space-between;
		padding: 1.5rem;
		/* flex-grow: 1; */
		background-color: white;
		width: 100%;
		gap: 2rem;
	}
	@include MQ-mobile{
		display: flex;
		flex-direction: column;
		padding: 1rem;

	}

	&__card {
		/* margin: 5px 10px; */
		box-shadow: 0 4px 8px 0 grey, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 100%;
		padding: 2%;
		flex-grow: 1;
		border-radius: 2%;

		@include MQ-tablet{
			padding: 10%;
		}
		@include MQ-mobile{
			padding: 5%;
		}
	}

	&__imagen {
		width: 100%;
		height: 100%;
        position: relative;	
	}

	&__imagen-img{
		width: 100%;
		height: 100%;
		
	}
    &__imagen-text {
		position: absolute;
		color: white;
		background-color: green;
		padding: 5px;
		top: 1px;
		left: 1px;
	}

	&__imagen:hover {
		border: 5px solid green;
		transform: rotate(-2deg);
	}

	&__descripcion {
		display: flex;
		text-align: center;
		// text-shadow: 1px 1px 1px rgb(75, 73, 73);
		/* padding: 10px; */
		padding-top: 1rem;
		padding-bottom: 1rem;
		width: 100%;
		height: 100%;
		overflow:hidden;
	}

	&__boton{
		width: 100%;
		margin-top: 5%;
		background: green;
		border: none;
		padding: 12px;
		color: white;
		// margin: 16px 0;
		font-size: 16px;
		border-radius: 25px;
		font-weight: $fw;
	}

	&__marca{
		font-weight: bold;
	}
	&__desc{
		color: grey;
	}
	&__precio {
		color: red;
		font-size: 1.2em;
		font-weight: bold;
	}
}
