.formulario {
	width: 500px;
	background: #888c90;
	padding: 30px;
	margin: auto;
	margin-top: 100px;
	margin-bottom: 100px;
	border-radius: 4px;
	color: white;
	box-shadow: 7px 13px 37px #000;

	&__boton {
		width: 100%;
		background: #1f53c5;
		border: none;
		padding: 12px;
		color: white;
		margin: 16px 0;
		font-size: 16px;
	}

	
}

.titulo{
	margin-top: 50px;
	text-align: center;
	font-size:xx-large;
	background: linear-gradient(90deg,rgb(138, 114, 114),#1106ee);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
.formulario-nombre{
	&__caja{
		width: 100%;
	}
}

.formulario-correo{
	&__caja{
		width: 100%;
	}
}

.formulario-mensaje{
	&__area{
		width: 100%;
	}
}