@import"../components/carouselofertas";
@import"../components/ofertascard";
@import"../components/vendidoscard";
@import"../components/productoscard";
@import"../components/_marcasdes";
.home-titulo {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;;
    font-family: $fft;
    font-size:xx-large;
    color:$ct;
}