@import"../components/ofertascard";
@import"../components/vendidoscard";
@import"../components/productoscard";
.productos-titulo {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;;
    font-family: $fft;
    font-size:xx-large;
    color:rgb(16, 16, 16);
}